<!DOCTYPE HTML>
<html>
	<head>
		<title>Sociedad de Fomento Barrio Uno</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/public/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/public/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="/public/assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="/public/assets/css/ie9.css" /><![endif]-->
		<link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/public/favicon.ico" type="image/x-icon">
	</head>
	<body class="landing">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="index.html">Soc. de Fomento Barrio Uno</a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
											<li><a href="index.html">Home</a></li>
											<li><a href="#">Balances</a></li>
											<li><a href="#">Listado de Socios</a></li>
											<li><a href="#">Log In</a></li>							
										</ul>
										<ul class="icons">
											<li><a href="https://twitter.com" target="_blank" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
											<li><a href="https://www.facebook.com/profile.php?id=100011439847137" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
											<li><a href="https://instagram.com" target="_blank" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
											<li><a href="mailto:barriounosdf@gmail.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>

				{{{body}}}

				<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://twitter.com" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/profile.php?id=100011439847137" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://instagram.com" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="mailto:barriounosdf@gmail.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>S.D.F. Barrio Uno, Ezeiza. Buenos Aires. Argentina. 2016</li>
					</ul>
				</footer>

			</div>

		<!-- Scripts -->
			<script src="/public/assets/js/jquery.min.js"></script>
			<script src="/public/assets/js/jquery.scrollex.min.js"></script>
			<script src="/public/assets/js/jquery.scrolly.min.js"></script>
			<script src="/public/assets/js/skel.min.js"></script>
			<script src="/public/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="/public/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/public/assets/js/main.js"></script>

	</body>
</html>