<html>
<head>
    <title>Sociedad de Fomento Barrio Uno</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if lte IE 8]><script src="/public/assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/public/assets/css/main.css">
    <!--[if lte IE 8]><link rel="stylesheet" href="/public/assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="/public/assets/css/ie9.css" /><![endif]-->
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/public/favicon.ico" type="image/x-icon">

    <meta name="description" content="Organización sin fines de lucro creada por un grupo de vecinos para fomentar el desarrollo y crecimiento del barrio.">
    <meta name="keywords" content="Barrio uno, Barrio 1, sociedad de fomento barrio uno, ezeiza.">
    <!-- Scripts -->
    <script src="/public/assets/js/jquery.min.js"></script>
    <script src="/public/assets/js/jquery.scrollex.min.js"></script>
    <script src="/public/assets/js/jquery.scrolly.min.js"></script>
    <script src="/public/assets/js/skel.min.js"></script>
    <script src="/public/assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="/public/assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="/public/assets/js/main.js"></script>
    <script src="/public/assets/js/jquery.maskedinput.min.js"></script>
    
</head>


<body class="landing">
    <!-- Page Wrapper -->
    <div id="page-wrapper">

      	<!-- Header -->
					<header id="header" class="">
						<h1><a href="/">Soc. de Fom. Barrio Uno</a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
											<li><a href="/">Home</a></li>
											<li><a href="/about-us">Quienes Somos</a></li>
                                            <li><a href="/associate">Asociate</a></li>
											<li><a href="/activities">Nuestas actividades</a></li>
										</ul>
										<ul class="icons">
											<li><a href="https://www.facebook.com/profile.php?id=100011439847137" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
											<li><a href="mailto:contacto@sdfbarriouno.com.ar" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>
		{{{body}}}
        <!-- Footer -->
        
        <div class="scrollup" style="display: block;">
            <a href="#" class="icon fa-arrow-up"></a>
        </div>

        <footer id="footer">
            <ul class="icons">
                <li><a href="https://www.facebook.com/profile.php?id=100011439847137" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="mailto:contacto@sdfbarriouno.com.ar" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
            </ul>
            <ul class="copyright">
                <li>S.D.F. Barrio Uno, Ezeiza. Buenos Aires. Argentina. 2016</li>
                <li>Desarrollo: <a href="mailto:facundodelgado.1@gmail.com">FacundoDelgado</a></li>
            </ul>
        </footer>

    </div>

</body>
</html>