<html>
<head>
    <title>Sociedad de Fomento Barrio Uno</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if lte IE 8]><script src="/public/assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/public/assets/css/main.css">
    <!--[if lte IE 8]><link rel="stylesheet" href="/public/assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="/public/assets/css/ie9.css" /><![endif]-->
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/public/favicon.ico" type="image/x-icon">
    <meta name="google-site-verification" content="EKIcXUjZVoWt8Y-GPVAYBXpPTGEuJ2vHepoyvGaNoao" />

    <meta name="description" content="Organización sin fines de lucro creada por un grupo de vecinos para fomentar el desarrollo y crecimiento del barrio.">
    <meta name="keywords" content="Barrio uno, Barrio 1, sociedad de fomento barrio uno, ezeiza, socios, asociate, avtividades.">
    <!-- Scripts -->
    <script src="/public/assets/js/jquery.min.js"></script>
    <script src="/public/assets/js/jquery.scrollex.min.js"></script>
    <script src="/public/assets/js/jquery.scrolly.min.js"></script>
    <script src="/public/assets/js/skel.min.js"></script>
    <script src="/public/assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="/public/assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="/public/assets/js/main.js"></script>
    <script src="/public/assets/js/jquery.maskedinput.min.js"></script>
    
</head>


<body class="landing">
    <!-- Page Wrapper -->
    <div id="page-wrapper">

      	<!-- Header -->
					<header id="header" class="">
						<img class="mainLogo" src="/public/images/logo.png">
                        <h1><a href="/">Soc. de Fom. Barrio Uno</a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
											<li><a href="/">Home</a></li>
											<li><a href="/quienes-somos">Quienes Somos</a></li>
                                            <li><a href="/asociate">Asociate</a></li>
											<li><a href="/actividades">Nuestas actividades</a></li>
										</ul>
										<ul class="icons">
											<li><a href="https://www.facebook.com/profile.php?id=100011439847137" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
											<li><a href="mailto:contacto@sdfbarriouno.com.ar" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>
		{{{body}}}
        <!-- Footer -->
        
        <div class="scrollup" style="display: block;">
            <a href="#" class="icon fa-arrow-up"></a>
        </div>

        <footer id="footer">
            <ul class="icons">
                <li><a href="https://www.facebook.com/profile.php?id=100011439847137" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="mailto:contacto@sdfbarriouno.com.ar" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
            </ul>
            <ul class="copyright">
                <li>Pablo Groussacc 40, Barrio Uno, Ezeiza. Buenos Aires. Argentina. 2016</li>
                <li>Desarrollo: <a href="mailto:facundodelgado.1@gmail.com">FacundoDelgado</a></li>
            </ul>
        </footer>

    </div>
<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76142361-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>