<section class="wrapper style5">
    <div class="inner">

        <h3>Quienes Somos?</h3>

        <p>La Sociedad de Fomento Barrio Uno  es una institución fundada en 1961 por un grupo de vecinos que estimaron la necesidad de aunar esfuerzos para fomentar el desarrollo y crecimiento del barrio y que se proyecta desde un perfil sustentado en la búsqueda de soluciones a las demandas de los residentes del mismo.</p>
        
        <p>Sus miembros, no cobran ningún sueldo, trabajan ad honorem en beneficio de la comunidad y con el objetivo de mejorar la calidad de vida de los habitantes, realizando proyectos de nuevas obras públicas o mejoras de las ya existentes, organizando actividades sociales y recreativas y todas aquellas acciones que el barrio requiera.</p>

        <div style="text-align:center;">
            <p><strong>COMISION DIRECTIVA 2016-2017</strong></p>
            <p>
                <strong>Presidente:</strong> Garcia, Fabian Anibal<br>
                <strong>Vicepresidente:</strong> Bottino, Juan Carlos<br>
                <strong>Secretario: </strong> Pereira, Oscar<br>
                <strong>Pro-Secretaria:</strong> Gonzalez, Alicia Esther<br>
                <strong>Tesorero:</strong> Fernandez, Claudia<br>
                <strong>Pro-Tesorera:</strong> Placere, Karina Cynthia
            </p>
        </div>
        <div class="boxAbout">
        <p><strong>Vocales Titulares:</strong></p>
            <p>
                - Goumaz, Alberto<br>
                - Andrilli, Claudio<br>
                - Boolsen, Claudio<br>
                - Gonzalez, Flavio<br>
                - Pereira, Lucas<br>
            </p>
        </div>
        <div class="boxAbout">
        <p><strong>Vocales Suplentes:</strong></p>
        <p>
            - Delgado, Facundo<br>
            - Goumaz, Kevin<br>
            - Gazzera, Martin<br>
            - Di Pasqua, Silvio<br>
            - Rossetti, Rosario
        </p>
        </div>
        <div class="boxAbout">
        <p><strong>Revisores de Cuentas Titulares:</strong></p>
        <p>
            - Potin, Damian<br>
            - Reyes, Raul Hector<br>
            - Rodriguez, Adriana
        </p>
        </div>
        <div class="boxAbout">
        <p><strong>Revisores de Cuentas Suplentes:</strong></p>
        <p>
            - Cardinali, Victor Hugo<br>
            - Fernandez, Patricia
        </p>
        </div>
        <span style="text-align: center;" class="image fit"><img src="/public/images/elecciones.jpg" width="545" alt=""><label>Elecciones 2016</label></span>

        <p><strong>SUB-COMISIONES</strong></p>
        <p>Para tener una major comunicacion con los vecinos, dividimos en Sub-Comisiones de trabajo, que dispondran de una via de comunicacion independiente. Los vecinos podran canalizar de manera directa todas sus inquietudes con la Sub Comision correspondiente</p>

        <p><strong>Cultura:</strong> Son bienvenidas todas las iniciativas y colaboraciones que ayuden a preservar y mejorar nuestra identidad barrial.</p>
        
        <p><strong>Espacios verdes, limpieza y cuidado del barrio:</strong> EN ella se trataran todas las iniciativas tendientes a la mejora de nuestro espacio publico. No se refiere solo al funcionamiento de la limpieza que debe garantizar la administracion publica, sino a los mecanismos que podemos implementar los vecinos para mejorar la calidad de vida de nuestro entorno. Al cuidado de calles, veredas, etc.</p>
        
        <p><strong>Finanzas:</strong> Coordinacion para pagos de la cuota social, donaciones, etc.</p>
        
        <p><strong>Informacion, pensa y difusion - RRPP y relaciones institucionales:</strong> Recibira todo relacionado con pedidos de asociacion,  información,  ofrecimientos de colaboracion e inquietudes en general Sera la encargada de la ditusion de las actividades que desarrola a Sociedad de Fomento y de establecer relaciones con otras agrupaciones a fin de presentar proyectos e implementar acciones que mejoren la calidad de vida del barrio.  Se encargara tambien de la actualizacion de la pagina web.</p>
        
        <p><strong>Eventos:</strong> se encarga de planificar y organizar Eventos con el objetivo de crear un espacio para la integración de los residentes del barrio. Tales como: Dia del niño, Fechas patrias, Año nuevo, etc</p>
        
        <div style="display: block; text-align: center;">
            <a style="border-bottom: none;" class="scrolly" target="__blank" href="/public/files/reseña-historica.pdf"><img style="width: 75px;" src="/public/images/pdfIcon.ico" alt=""><p>Reseña historica.</p></a>
        </div>
        
    </div>
</section>