<section class="wrapper style5">
    <div class="inner">

        <h3>Quienes Somos?</h3>

        <p>La Asociación de Fomento Barrio Parque “El Remanso” es una institución fundada el 25 de mayo de 1975 por un grupo de vecinos que estimaron la necesidad de aunar esfuerzos para fomentar el desarrollo y crecimiento del barrio y que se proyecta desde un perfil sustentado en la búsqueda de soluciones a las demandas de los residentes del mismo.</p>
        
        <p>La Asociación de Fomento brinda el marco legal necesario para clamar con representatividad y autoridad ante las autoridades nacionales, provinciales y municipales por los derechos que cada uno tiene como contribuyente y habitante de este territorio.</p>
        
        <p>Sus miembros, no cobran ningún sueldo, trabajan ad honorem en beneficio de la comunidad y con el objetivo de mejorar la calidad de vida de los habitantes, realizando proyectos de nuevas obras públicas o mejoras de las ya existentes, organizando actividades sociales y recreativas y todas aquellas acciones que “El Remanso” requiera.</p>
        
        <p>Convencidos de la necesidad de llevar a cabo una gestión seria y coherente, cada acción es planeada y proyectada a partir de las propuestas consensuadas entre sus miembros y teniendo en cuenta la viabilidad de los recursos humanos y materiales con los que se trabaja. De todas las acciones emprendidas se realiza la evaluación y el seguimiento correspondientes, para lograr la concreción de los objetivos que serán las respuestas satisfactorias a las expectativas de quienes eligen “El Remanso” como lugar de residencia o para disfrutar de su descanso.</p>
        
        <p><strong>COMISION DIRECTIVA 2016-2017</strong></p>
        
        <p>
            <strong>Presidente:</strong>&nbsp;Roberto Varela<br>
            <strong>Vicepresidente:</strong> Juan Carlos Rigitano<br>
            <strong>Secretario:&nbsp;</strong>Osvaldo Pacheco<br>
            <strong>Pro-Secretaria:</strong> Juan Brignone<br>
            <strong>Tesorero:</strong> Manuel Benítez<br>
            <strong>Pro-Tesorera:</strong> Gustavo Zorzoli
        </p>
        
        <p><strong>Vocales Titulares:</strong></p>
        <p>
            1- Soledad Salgado<br>
            2- Pablo Caro<br>
            3- Guillermo Bottero<br>
            4- Graciela Rodrigo<br>
            5- Mariano Alegre<br>
            6- Estela Lorenzo
        </p>
        
        <p><strong>Vocales Suplentes:</strong></p>
        <p>
            1- Belkis Bertino<br>
            2- María Laura Canziani<br>
            3- Marta Braschi<br>
            4- Luis Costa
        </p>
        
        <p><strong>Revisores de Cuentas Titulares:</strong></p>
        <p>
            1-&nbsp;Matías Viano<br>
            2-&nbsp;Verónica Gallo Pecca<br>
            3-&nbsp;Pablo Reppeto
        </p>
        
        <p><strong>Revisores de Cuentas Suplentes:</strong></p>
        <p>
            1-&nbsp;Cristina Galanti<br>
            2- Edda Pognante
        </p>
        
        <p><strong>Coordinadores de Áreas:</strong></p>
        
        <p><strong>SUB-COMISIONES</strong></p>
        <p><strong>Relaciones Institucionales:</strong>&nbsp;&nbsp;desarrolla y coordina todas las acciones de comunicación con instituciones, como la Municipalidad de Exaltación de la Cruz, las asociaciones de fomento vecinas, el Rotary Club, los Bomberos, etc.</p>
        
        <p><strong>Infraestructura:</strong>&nbsp;trabaja en los siguientes temas: mantenimiento y demarcación de calles, iluminación del barrio, accesos de entrada, higiene y salud comunitaria (recolección de residuos y control de plagas).</p>
        
        <p><strong>Seguridad:</strong>&nbsp;tiene como objetivo mejorar la seguridad general del barrio. Para ello se encarga de controlar la gestión que realiza la empresa de seguridad y monitorear la acción policial ante los distintos acontecimientos.</p>
        
        <p><strong>Comunicaciones:</strong>&nbsp;es responsable de los medios de comunicación de la Asociación.&nbsp;Se encarga de la difusión de las distintas acciones de la Asociación a través de publicaciones, del sitio web y del envío de newsletter con las novedades.</p>
        
        <p><strong><strong>Polideportivo:</strong></strong>&nbsp;tiene como objetivo propiciar un ambiente sano que se convierta en punto de apertura, de encuentro y desarrollo social para los vecinos. Donde se puedan desarrollar múltiples actividades deportivas (fútbol, hockey), recreativas y sociales.</p>
        
        <p><strong>Eventos:</strong>&nbsp;se encarga de planificar y organizar Eventos con el objetivo de crear un espacio para la integración de los residentes del barrio.</p>
        
        <p><strong>P</strong><strong>rotección Ambiental:</strong>&nbsp;tiene la misión de orientar y alentar la participación en el cuidado del ambiente, inspirando e informando a la comunidad sobre los medios para mejorar nuestra calidad de vida, sin poner en riesgo la de las generaciones futuras.</p>
        
        <p><strong>Socios:</strong> se encarga de generar planes para incorporar nuevos socios y crear beneficios para los socios actuales.</p>

    </div>
</section>