<section class="wrapper style5">
    <div class="inner">

        <h3>Nuestras Actividades</h3>

        <p>El Polideportivo está ubicado en Pablo Groussacc 50. Y tiene como objetivo propiciar un ambiente sano que se convierta en punto de apertura a la comunidad, de encuentro y desarrollo social para los vecinos donde se puedan realizar múltiples actividades deportivas, recreativas y sociales.</p>


        <div class="table-wrapper">
                                        <table style="color:rgb(78, 72, 82);">
                                            <thead>
                                                <tr>
                                                    <th>Actividad</th>
                                                    <th>Descripcion</th>
                                                    <th>Dias y horarios</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Gimnasio</td>
                                                    <td>Amplio gimnasio, para todo tipo de actividades, aerobicas y de musculacion</td>
                                                    <td>L a V. 15 a 21</td>
                                                </tr>
                                                <tr>
                                                    <td>Futbol 9</td>
                                                    <td>Alquiler de cancha, con luz y vestuarios</td>
                                                    <td>Todos los dias</td>
                                                </tr>
                                                <tr>
                                                    <td>Cancha de Tenis</td>
                                                    <td>Alquiler de cancha, con luz y vestuarios</td>
                                                    <td>Todos los dias</td>
                                                </tr>
                                                <tr>
                                                    <td>Cancha de Voley</td>
                                                    <td>Uso gratuito para los socios del barrio</td>
                                                    <td>Todos los dias</td>
                                                </tr>
                                                <tr>
                                                    <td>Futbol 6</td>
                                                    <td>Uso gratuito para los socios del barrio</td>
                                                    <td>Todos los dias</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

    </div>
</section>