<section class="wrapper style5">
    <div class="inner">

        <h2>Nuestras Actividades</h2>

        <p>El Polideportivo está ubicado en Pablo Groussacc 40. Y tiene como objetivo propiciar un ambiente sano que se convierta en punto de apertura a la comunidad, de encuentro y desarrollo social para los vecinos donde se puedan realizar múltiples actividades deportivas, recreativas y sociales. Brindando las siguientes actividades:</p>


        <h4>Escuelita de Futbol</h4>
        <p>
        <span class="image left"><img src="/public/images/futbol.jpg" alt=""></span>
        La escuela de futbol funciona los dias Sabados, de 16:00 a 18:00 hs. La misma esta orientada al futbol infantil masculino y femenino.
        </p>
        <strong>Profesor:</strong> Sebastian Donoso<br>
        <strong>Arancel:</strong> $30 la clase<br>
        <strong>Inscripciones a:</strong> <a href="mailto:deportes@sdfbarriouno.com.ar">deportes@sdfbarriouno.com.ar</a> o llamando al 11 3810 3727 (Facundo)
<br><br>
        <h4>Entrenamiento funcional</h4>
        <p>
        Es una actividad, a desarrollarse los Sabados a las 16 hs, donde se trabaja todos los grupos musculares a través de circuitos con diferentes ejercicios en cortos periodos de tiempo y con breve lapso de recuperación entre un ejercicio y el otro.La intensidad y la dificultad varían dependiendo de las características de las alumnas (edad, peso, entrenamiento).
        </p>
        <p>Esta actividad la combinaríamos con elongación y estiramiento  de todo el cuerpo.</p>
        <strong>Profesora:</strong> Serfaty Celeste<br>
        <strong>Clase:</strong> Una vez por semana (1.15 hs)<br>
        <strong>Arancel:</strong> A definirse<br>
<br><br>

        <h4>Escuela de Tenis</h4>
        <p>
         <span class="image left"><img src="/public/images/tenis.jpg" alt=""></span>
        La escuela de tenis funciona los dias Sabados, de 10:00 a 15:00 hs. Ofreciendo las siguientes alternativas: Clases grupales para menores, mayores y clases individuales
        </p>
        <strong>Profesor:</strong> Miguel Basile<br>
        <strong>Clase:</strong> Una vez por semana (1 hs)<br>
        <strong>Inscripciones a:</strong> <a href="mailto:deportes@sdfbarriouno.com.ar">deportes@sdfbarriouno.com.ar</a><br>

        <br>
<br>       
 <br>
<br>
        <div class="table-wrapper">
                                        <table style="color:rgb(78, 72, 82);">
                                            <thead>
                                                <tr>
                                                    <th>Arancel individual</th>
                                                    <th>Valor</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Abono Mensual niños</td>
                                                    <td>$320</td>
                                                </tr>
                                                 <tr>
                                                    <td>Abono Mensual adulto femenino</td>
                                                    <td>$400</td>
                                                </tr>
                                                <tr>
                                                    <td>Por Clase niños</td>
                                                    <td>$100</td>
                                                </tr>
                                                 <tr>
                                                    <td>Por Clase adulto femenino</td>
                                                    <td>$125</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

        <div class="table-wrapper">
                                        <table style="color:rgb(78, 72, 82);">
                                            <thead>
                                                <tr>
                                                    <th>Arancel familiar</th>
                                                    <th>Valor</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Abono 2 personas           </td>
                                                    <td>$600</td>
                                                </tr>
                                                <tr>
                                                    <td>Abono 3 personas</td>
                                                    <td>$600</td>
                                                </tr>
                                                <tr>
                                                    <td>Abono 4 personas</td>
                                                    <td>$1100</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

    </div>
</section>