<section class="wrapper style5">
    <div class="inner">
    	<h2>Se completo correctamente la solicitud</h2>

        <p>Le agradecemos su tiempo, nos estaremos comunicandonos con usted a la brevedad, para corroborar los datos y detallar como continua el proceso de asociacion.
		</p>

		<a href="/">Volver al inicio ></a>
</section>