<section class="wrapper style5">
    <div class="inner">
        
        <h3>¿Porque asociarse?</h3>
        <p>
        Ya que los unicos recursos con los que contara la SDF seran: <strong>Las cuotas de sus asociados</strong>, alquileres de servicios del predio, producto de rifas o eventos que brinde a la comunidad y/o donaciones, ayudas o subsidios que reciba.
        </p>
        <h3>¿Como asociarse?</h3>

        <strong>Via web</strong>
		<p>
		Para asociarse, le pedimos que complete el formulario de inscripcion online, accediendo desde el siguiente link, en el cual le solicitaremos algunos datos tales como, categoria de socio, datos personales, datos de contacto, etc.
		</p>
        <div style="display: block; text-align: center;">
            <a style="border-bottom: none;" target="__blank" href="/associateForm"><img style="width: 75px;" src="/public/images/iconoFormulario.png" alt=""><p>Formulario de inscripcion.</p></a>
            
        </div>
		<h3>Valor cuota (Anual)</h3>

		  <div class="table-wrapper">
                                        <table style="color:rgb(78, 72, 82);">
                                            <thead>
                                                <tr>
                                                    <th>Tipo</th>
                                                    <th>Descripcion</th>
                                                    <th>Valor</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Individual</td>
                                                    <td>Cuota por persona</td>
                                                    <td>ARS 300</td>
                                                </tr>
                                                <tr>
                                                    <td>Grupo familiar</td>
                                                    <td>Cuota para toda la familia</td>
                                                    <td>ARS 600</td>
                                                </tr>
                                                <tr>
                                                    <td>Grupo familiar o ind. benefactor</td>
                                                    <td>Cuota para toda la familia o individual benefactor</td>
                                                    <td>ARS 1000</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <br>
                                    <br>
                                   <p> <strong>Formas de pago</strong></p>
		
		<ul>
			<li class="icon fa-money">
            En efectivo.
			</li>
			<li class="icon fa-cc-visa">
            Proximamente por MercadoPago.
			</li>
		</ul>

    </div>
</section>