<section class="wrapper style5">
    <div class="inner">

        <h3>¿Como asociarse?</h3>

        <strong>Atencion personalizada</strong>
		<p>
		Para asociarse, lo esperamos en el predio de la Sociedad de Fomento, los dias Sabados de 9:00 a 13:00 y de 16:00 a 18:00.
		</p>

		<strong>Por email</strong>
		<p>
		Completando la <a style="color: blue;" target="__blank" href="/public/files/formInscripcion.pdf">solicitud de inscripcion</a> y enviandola a la siguiente cuenta de email: <a href="mailto:socios@sdfbarriouno.com.ar">socios@sdfbarriouno.com.ar</a>
		</p>
        <div style="display: block; text-align: center;">
            <a style="border-bottom: none;" target="__blank" href="/public/files/formInscripcion.pdf"><img style="width: 75px;" src="/public/images/pdfIcon.ico" alt=""></a>
            <p>Formulario de inscripcion.</p>
        </div>
		<strong>Valor <span style="font-size:1.2em;">SEMESTRAL</span> (cada 6 meses) </strong>
		<br>
		<br>
		  <div class="table-wrapper">
                                        <table style="color:rgb(78, 72, 82);">
                                            <thead>
                                                <tr>
                                                    <th>Tipo</th>
                                                    <th>Descripcion</th>
                                                    <th>Valor</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Individual</td>
                                                    <td>Cuota por persona</td>
                                                    <td>ARS 300</td>
                                                </tr>
                                                <tr>
                                                    <td>Grupo familiar</td>
                                                    <td>Cuota para toda la familia</td>
                                                    <td>ARS 600</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <br>
                                    <br>
                                   <p> <strong>Formas de pago</strong></p>
		
		<ul>
			<li class="icon fa-money">
            En efectivo, acercandose al predio de la SDF.
			</li>
			<li class="icon fa-cc-visa">
            MercadoPago. Utilizando tarjeta de credito o Ticket de pago (PagoFacil o RapiPago).
			</li>
		</ul>

    </div>
</section>