<section class="wrapper style5 contacto">
    <div class="inner">

        <h2>Contactenos</h2>
        <div class="boxes">
            <i class="fa fa-comments" style="font-size: 25px;" aria-hidden="true"><span>  Email:</span></i>
            <p><a href="mailto:contacto@sdfbarriouno.com.ar">contacto@sdfbarriouno.com.ar</a></p>
        </div>

        <div class="boxes">
            <i class="fa fa-phone-square" style="font-size: 25px;" aria-hidden="true"><span>  Telefono:</span></i>
            <p>4480 - 9118</p>
        </div>
        <br>
        <br>
         <div class="googleMap" style="text-align: center;">
            <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=-34.789046%2C%20-58.521785&key=AIzaSyBNHlYeLXK-jScodWhk9GSMh-1yrJth12g" allowfullscreen></iframe> 
         </div>  
    </div>
</section>