<section class="wrapper style5 contacto">
    <div class="inner">

        <h2>Contactenos</h2>
        <br>
        <div class="boxes">
            <i class="fa fa-comments" style="font-size: 25px;" aria-hidden="true"><span style="font-family:'Open Sans', Helvetica, sans-serif;">  Email:</span></i>
            <p><a href="mailto:contacto@sdfbarriouno.com.ar">contacto@sdfbarriouno.com.ar</a></p>
        </div>

        <div class="boxes">
            <i class="fa fa-facebook-official" style="font-size: 25px;" aria-hidden="true"><span style="font-family:'Open Sans', Helvetica, sans-serif;">  Facebook:</span></i>
            <p><a href="https://www.facebook.com/barriounook">facebook.com/barriounook</a>
            </p>
        </div>

        <div class="boxes">
            <i class="fa fa-map-marker" style="font-size: 25px;" aria-hidden="true"><span style="font-family:'Open Sans', Helvetica, sans-serif;">  Direccion:</span></i>
            <p>Pablo Grousacc 40, Barrio Uno.</p>
        </div>
        
        <br>
        <br>
         <div class="googleMap" style="text-align: center;">
            <iframe width="800" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=-34.789046%2C%20-58.521785&key=AIzaSyBNHlYeLXK-jScodWhk9GSMh-1yrJth12g" allowfullscreen></iframe> 
         </div>  
    </div>
</section>