			<!-- Banner -->
<section id="banner">
    <div class="inner">
        <h2>Sociedad de Fomento Barrio Uno</h2>
        <p>
            La sociedad de fomento la hacemos entre todos<br />
            forma parte y asociate
        </p>
        <ul class="actions">
            <li><a href="/associate" class="button special">Asociate</a></li>
        </ul>
    </div>
    <a href="#one" class="more scrolly">Conoce mas</a>
</section>

<!-- One -->
<section id="one" class="wrapper style1 special">
    <div class="inner">
        <header class="major">
          <h2>Quienes somos?</h2>
							<p>La Sociedad de Fomento Barrio Uno  es una institución fundada en 1965 por un grupo de vecinos que estimaron la necesidad de aunar esfuerzos para fomentar el desarrollo y crecimiento del barrio y que se proyecta desde un perfil sustentado en la búsqueda de soluciones a las demandas de los residentes del mismo.</p>
							<p>Sus miembros, no cobran ningún sueldo, trabajan ad honorem en beneficio de la comunidad y con el objetivo de mejorar la calidad de vida de los habitantes, realizando proyectos de nuevas obras públicas o mejoras de las ya existentes, organizando actividades sociales y recreativas y todas aquellas acciones que el barrio requiera.</p>
        
							<a class="readMore" href="/about-us">Mas info ></a>
        </header>
    </div>
</section>
<section id="three" class="wrapper style3 special">
					<div class="inner">
						<header class="major">
							<h2>Algunas de las actividades</h2>
							<p>En la siguiente lista, podras encontrar diferentes variedad de actividades, que tenemos 
								pensadas para que disfrutes.</p>
						</header>
						<ul class="features">
							<li class="icon fa-futbol-o">
								<h3>Escuela de futbol</h3>
								<p>Actividad pensada para los mas chicos, niños y niñas hasta 14 años.</p>
							</li>
							<li class="icon fa-child">
								<h3>Escuela de tenis</h3>
								<p>Clases grupales, para todas las edades, separadas en diferentes grupos.</p>
							</li>
							<li class="icon fa-heartbeat">
								<h3>Entrenamiento funcional</h3>
								<p>Es una actividad donde se trabaja todos los grupos musculares a través de circuitos con diferentes ejercicios.</p>
							</li>
							<li class="icon fa-trophy">
								<h3>Clases de golf</h3>
								<p>Proximamente a desarrollarse, estate atento a las novedades, no te quedes afuera.</p>
							</li>
						</ul>
					</div>
					<a class="readMore" href="/activities" >Mas info ></a>
				</section>

<!-- CTA -->
<section id="cta" class="wrapper style4" style="background-color: #2e3842;">
    <div class="inner">
        <header class="major">
            <h2>Dejanos un comentario</h2>
            <p>Llena el siguiente formulario, para dejarnos algun comentario. O tambien para averiguar sobre las inscripciones que tenemos para ofrecerte.</p>
            <form method="post" action="/sendEmail">
                <div class="row uniform">
                    <div class="6u 12u$(xsmall)">
                        <input type="text" required name="fullName" id="fullName" value="" placeholder="Nombre y apellido">
                    </div>
                    <div class="6u$ 12u$(xsmall)">
                        <input type="email" required name="email" id="email" value="" placeholder="Email">
                    </div>
                    <div class="6u 12u$(xsmall)">
                        <input type="text" required name="address" id="address" value="" placeholder="Direccion">
                    </div>
                    <div class="6u$ 12u$(xsmall)">
                        <input type="text" required name="tel" id="tel" value="" placeholder="Telefono">
                    </div>
                    <div class="12u$">
                        <textarea name="message" required id="message" placeholder="Deje su mensaje" rows="6"></textarea>
                    </div>
                    <div class="12u$">
                        <ul class="actions">
                            <li><input type="submit" value="Enviar" class="special"></li>

                        </ul>
                    </div>
                </div>
            </form>
        </header>
    </div>
</section>

