<section class="wrapper style5">
    <div class="inner">

        <h2>Alquiler de instalaciones</h2>

        <p>El predio de la Sociedad de fomento, cuenta con canchas de tenis y futbol, gimnasio. Ademas, estamos terminando los vestuarios, para que tengas la comodidad que te mereces.</p>


        <h4>Futbol 8</h4>
        <p>
        Alquiler por hora de cancha de futbol 8, incluyendo pelota y pecheras:
        </p>
        <strong>Arancel:</strong> Dia $650, Noche $900<br>
        <strong>Consultar al:</strong> 11 6102 8813 (Juan Carlos)<br>
<br><br>
        <h4>Tenis</h4>
        <p>
        Alquiler de cancha de tenis, con beneficio especial para socios:
        </p>
        <strong>Arancel:</strong> Dia $120/Socios o $170/NOsocios, Noche $170/Socios o $220/NOsocios<br>
        <strong>Consultar al:</strong> 11 6102 8813 (Juan Carlos)<br>
<br><br>

        <h4>Gimnasio</h4>
        <p>
        Gimnasio de musculacion.
        </p>
        <strong>Profesor:</strong> Mario Cordoba<br>
        <strong>Arancel:</strong> (Consultar abono mensual)<br>
        <br>
<br>
      
    </div>
</section>